.DS_Store
__pycache__
ckpts
*.zip
data/
*.pcd
output/
pointnet2_ops_lib/build
pointnet2_ops_lib/dist
metrics/CD/chamfer3D/build
metrics/CD/chamfer3D/dist
renders/
*.png
*.txt
*.zip
*.egg-info/
build/
dist/
*.so
*.pth
checkpoints/